# Merge operations in Python

In [1]:
import pandas as pd

#read csv files in dataframe
df_rain = pd.read_csv('rainfall201701.csv')
df_site = pd.read_csv('sites201701.csv')

In [2]:
df_rain.head()

     id    name                 date  rainfall
0  7687  RG_016  2017-01-01T00:00:00       0.0
1  7687  RG_016  2017-01-01T00:05:00       0.0
2  7687  RG_016  2017-01-01T00:10:00       0.0
3  7687  RG_016  2017-01-01T00:15:00       0.0
4  7687  RG_016  2017-01-01T00:20:00       0.0

In [3]:
df_site.head()

     id    name  longitude   latitude
0  7677  RG_001 -79.478112  43.647680
1  7678  RG_002 -79.443616  43.651196
2  7679  RG_003 -79.405094  43.656616
3  7680  RG_004 -79.402833  43.678343
4  7681  RG_006 -79.375101  43.661265

# Merging dataframes

Let's say we want to see the longitude and longitude information, with rainfall information jointly for corresponding id and name.

In [4]:
df_merged = pd.merge(df_rain,df_site,how='inner',on=['id','name'])
df_merged

         id    name                 date  rainfall  longitude   latitude
0      7687  RG_016  2017-01-01T00:00:00     0.000 -79.520366  43.608125
1      7687  RG_016  2017-01-01T00:05:00     0.000 -79.520366  43.608125
2      7687  RG_016  2017-01-01T00:10:00     0.000 -79.520366  43.608125
3      7687  RG_016  2017-01-01T00:15:00     0.000 -79.520366  43.608125
4      7687  RG_016  2017-01-01T00:20:00     0.000 -79.520366  43.608125
5      7687  RG_016  2017-01-01T00:25:00     0.000 -79.520366  43.608125
6      7687  RG_016  2017-01-01T00:30:00     0.000 -79.520366  43.608125
7      7687  RG_016  2017-01-01T00:35:00     0.000 -79.520366  43.608125
8      7687  RG_016  2017-01-01T00:40:00     0.000 -79.520366  43.608125
9      7687  RG_016  2017-01-01T00:45:00     0.000 -79.520366  43.608125
10     7687  RG_016  2017-01-01T00:50:00     0.000 -79.520366  43.608125
11     7687  RG_016  2017-01-01T00:55:00     0.000 -79.520366  43.608125
12     7687  RG_016  2017-01-01T01:00:00     0.254 -79.520366  43.608125
13     7687  RG_016  2017-01-01T01:05:00     0.000 -79.520366  43.608125
14     7687  RG_016  2017-01-01T01:10:00     0.000 -79.520366  43.608125
15     7687  RG_016  2017-01-01T01:15:00     0.000 -79.520366  43.608125
16     7687  RG_016  2017-01-01T01:20:00     0.000 -79.520366  43.608125
17     7687  RG_016  2017-01-01T01:25:00     0.000 -79.520366  43.608125
18     7687  RG_016  2017-01-01T01:30:00     0.000 -79.520366  43.608125
19     7687  RG_016  2017-01-01T01:35:00     0.000 -79.520366  43.608125
20     7687  RG_016  2017-01-01T01:40:00     0.000 -79.520366  43.608125
21     7687  RG_016  2017-01-01T01:45:00     0.000 -79.520366  43.608125
22     7687  RG_016  2017-01-01T01:50:00     0.000 -79.520366  43.608125
23     7687  RG_016  2017-01-01T01:55:00     0.000 -79.520366  43.608125
24     7687  RG_016  2017-01-01T02:00:00     0.000 -79.520366  43.608125
25     7687  RG_016  2017-01-01T02:05:00     0.000 -79.520366  43.608125
26     7687  RG_016  2017-01-01T02:10:00     0.000 -79.520366  43.608125
27     7687  RG_016  2017-01-01T02:15:00     0.000 -79.520366  43.608125
28     7687  RG_016  2017-01-01T02:20:00     0.000 -79.520366  43.608125
29     7687  RG_016  2017-01-01T02:25:00     0.000 -79.520366  43.608125
...     ...     ...                  ...       ...        ...        ...
43175  7704  RG_038  2017-01-30T21:35:00     0.000 -79.148405  43.777514
43176  7704  RG_038  2017-01-30T21:40:00     0.000 -79.148405  43.777514
43177  7704  RG_038  2017-01-30T21:45:00     0.000 -79.148405  43.777514
43178  7704  RG_038  2017-01-30T21:50:00     0.000 -79.148405  43.777514
43179  7704  RG_038  2017-01-30T21:55:00     0.000 -79.148405  43.777514
43180  7704  RG_038  2017-01-30T22:00:00     0.000 -79.148405  43.777514
43181  7704  RG_038  2017-01-30T22:05:00     0.000 -79.148405  43.777514
43182  7704  RG_038  2017-01-30T22:10:00     0.000 -79.148405  43.777514
43183  7704  RG_038  2017-01-30T22:15:00     0.000 -79.148405  43.777514
43184  7704  RG_038  2017-01-30T22:20:00     0.000 -79.148405  43.777514
43185  7704  RG_038  2017-01-30T22:25:00     0.000 -79.148405  43.777514
43186  7704  RG_038  2017-01-30T22:30:00     0.000 -79.148405  43.777514
43187  7704  RG_038  2017-01-30T22:35:00     0.000 -79.148405  43.777514
43188  7704  RG_038  2017-01-30T22:40:00     0.000 -79.148405  43.777514
43189  7704  RG_038  2017-01-30T22:45:00     0.000 -79.148405  43.777514
43190  7704  RG_038  2017-01-30T22:50:00     0.000 -79.148405  43.777514
43191  7704  RG_038  2017-01-30T22:55:00     0.000 -79.148405  43.777514
43192  7704  RG_038  2017-01-30T23:00:00     0.000 -79.148405  43.777514
43193  7704  RG_038  2017-01-30T23:05:00     0.000 -79.148405  43.777514
43194  7704  RG_038  2017-01-30T23:10:00     0.000 -79.148405  43.777514
43195  7704  RG_038  2017-01-30T23:15:00     0.000 -79.148405  43.777514
43196  7704  RG_038  2017-01-30T23:20:00     0.000 -79.148405  43.777514
43197  7704  RG_038  2017-01-30T23:25:00     0.000 -79.148405  43.777514
43198  7704  RG_038  2017-01-30T23:30:00     0.000 -79.148405  43.777514
43199  7704  RG_038  2017-01-30T23:35:00     0.000 -79.148405  43.777514
43200  7704  RG_038  2017-01-30T23:40:00     0.000 -79.148405  43.777514
43201  7704  RG_038  2017-01-30T23:45:00     0.000 -79.148405  43.777514
43202  7704  RG_038  2017-01-30T23:50:00     0.000 -79.148405  43.777514
43203  7704  RG_038  2017-01-30T23:55:00     0.000 -79.148405  43.777514
43204  7704  RG_038  2017-01-31T00:00:00     0.000 -79.148405  43.777514

[43205 rows x 6 columns]

According to your analysis, you can specify join operation to be how= 'outer', how= 'left', how= 'right' in above line of code. Also the parameter "on = " takes the key values on which the merge operation is performed.